{% extends 'base.html' %}

{% block navbar%}
{% include 'partials/navbar.html' %}
{% endblock %}


{% block content %}

<!-- Schedule wedding day -->
<style>
        body {
            background: url(../../static/images/slider3.jpg) no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            background-color: #cccccc;

        }

        .agile-top{
            background-color: #212121 !important;
            z-index: 999;
            width: 100%;
            top: 0%;
        }
        td, th {
            padding: 20px !important;

        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: red;
          color: white;
          text-align: center;
        }
    </style>

<div class="contact" id="contact">
    <div class="container" style="margin-top: 50px;">
        <h3 class="w3_tittle">Wedding Day Schedule</h3>
        <div class="contact-grid1" style="color: antiquewhite">
            <div class="contact-top1" style="background: rgba(255, 47, 104, 0.3);">
                <table>
                    <thead>
                    <tr>
                        <th><h3>Time</h3></th>
                        <th><h3>Item</h3></th>
                        <th><h3>Notes</h3></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for weddingday in object_list %}
                    <tr>
                        <td>{{ weddingday.time }}</td>
                        <td>{{ weddingday.item }}</td>
                        <td>{{ weddingday.notes }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}