{% extends 'base.html' %}

{% block navbar%}
{% include 'partials/navbar.html' %}
{% endblock %}


{% block content %}

<!-- Schedule wedding day -->
<style>
        body {
            background: url(../../static/images/slider3.jpg) no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            background-color: #cccccc;

        }
        div.container {
            height: 10em;
            position: relative
        }
        div.container form {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0%)
        }
        .title{
        font-size: 2.1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        display: block;
        width: 50%;
        margin: 1.5em auto 0;
        }

        .new_button{
            font-size: 1.1em;
            outline: none;
            border: none;
            text-transform: uppercase;
            background: #000;
            padding: 0.7em 0;
            letter-spacing: 1px;
            color: #fff;
            display: block;
            width: 200%;
            margin: 1.5em auto 0;
            -webkit-transition: .5s all;
        }
        .agile-top{
            background-color: #212121 !important;
            z-index: 999;
            width: 100%;
            top: 0%;
        }
        td, th {
            padding: 10px !important;
            color: antiquewhite !important;
        }
        .contact-top1 {
    background: rgba(255, 47, 104, 0.3);
    padding: 3em 3em 4em;
    margin-left: 300px;
    margin-right: 300px;
}
h4{
    font-size: 23px;
    color: antiquewhite !important;
}
.footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          color: white;
          text-align: center;
        }
    </style>



<div class="contact" id="contact">
    <div class="container" style="margin-top: 50px;">
        <h3 class="w3_tittle">Save the Date & Invitations emails</h3>
        <div class="contact-grid1" >
            <div class="contact-top1">
<form method="POST">
     <div class = "form-group" style="margin-top: 43px">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
        <div class = "form-group">
            <p>
            {{ form.as_p }}
        </p>
            <br>
            <input type="submit" name="Send" class="new_button" style="width: 75%;">
                </div>
     </div>
            </form>

        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}

